@import url(roboto.css);
.grid-1 {
  display: grid;
  width: 100%;  
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  
}

.v-icon.v-icon.v-icon--link {
  color: green;
}

.cancelButton {
  box-shadow: rgb(247, 197, 192) 0px 1px 0px 0px inset; background: linear-gradient(rgb(212, 85, 85) 5%, rgb(216, 59, 59) 100%) rgb(252, 141, 131); border-radius: 6px; border: 1px solid rgb(216, 53, 38); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; padding: 6px 24px; text-decoration: none; text-shadow: rgb(54, 54, 54) 0px 1px 0px;
}
.paymentButton {
  box-shadow: rgb(55, 83, 32) 0px 1px 0px 0px inset; background: linear-gradient(rgb(58, 196, 3) 5%, rgb(9, 168, 22) 100%) rgb(58, 196, 3); border-radius: 6px; border: 1px solid rgb(13, 160, 25); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; padding: 6px 24px; text-decoration: none; text-shadow: rgb(44, 44, 44) 0px 1px 0px;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #555555a4;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }